{% extends "base.html" %} {% block title %}Text2Image{% endblock %} {% block content
%}

<style>

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }


 .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  position: relative;
  width: 100%;
  transition: all 0.5s ease;
}

button:hover {
  background-color: purple;
  transition: all 0.5s ease;
  color: white;
}


.input-container {
  display: flex;
  align-items: center;
}

input[type="prompt"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0px 10px 10px rgb(240, 240, 240);
}

button[type="submit"] {
  background-color: rgb(235, 235, 235);
  color: gray;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.bt {
  background-color: rgb(235, 235, 235);
  color: gray;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

select {
  background-color: rgb(235, 235, 235);
  color: gray;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: rgb(220, 220, 220);
  transition: all 0.5s ease-out;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(143, 106, 106);
  border-color: rgb(143, 106, 106) transparent rgb(143, 106, 106) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* ----- Style the elements ----- */

  /* Wrap the image and alt text */
  /* Will be added with js */
  .alt-wrap { 
    display: block;
    position: relative;
    color: whitesmoke;
  }

/* The alt text itself */
/* Will be added with js */
  .alt-wrap p.alt {
    position: absolute;
    opacity: 0; /* hide initially */
    left: 0; right: 0; bottom: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    background-color: rgba(0,0,0,0.8);
    transition: all 300ms ease;
    transition-delay: 300ms;
  }

/* Hovering over the wrapper shows its alt p*/
  .alt-wrap:hover > p.alt { 
    opacity: 1; 
    transition-delay: 0s;
  }

  .img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .img { display: block; }
 
 
</style>

<!-- <h1>Hello {{user.first_name}}</h1> -->

<div style="margin-top: 150px;" class="input-container">
  <select name="" id="model-selector" style="margin-right: 5px;">
    <optgroup label="Default model">
      <option value="stable-diffusion-v1-5">stable diffusion</option>
    </optgroup>

    {% if user_trained_models|length > 0 %}
      <optgroup label="Your trained models">
        {% for trained_model in user_trained_models %}
        <option value="{{trained_model}}">{{ trained_model.split("_")[0] }}</option>        
        {% endfor %}
    {% else %}
      <optgroup label="You have no trained models yet...">
    {% endif %}
    </optgroup>

  </select>
    <input type="prompt" id="prompt" name="prompt" placeholder="A Pop Art image of a car...">
    <button class="bt" style="margin-left: 5px;" id="create-image">Generate</button>
</div>

<div>
  <div id="gifCheckboxDiv" class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="createGif">
    <label class="form-check-label" for="flexCheckDefault">
      Create GIF
    </label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="compare">
    <label class="form-check-label" for="flexCheckDefault">
        Compare Models
    </label>
  </div>
</div>

<div class="mt-5" id="selection-menu" style="display: none;">
  <h4>Compare models</h4>
  <select id="compare-model-selector-1" class="form-select" aria-label="Select first model">
    <optgroup label="Default model">
      <option value="stable-diffusion-v1-5">stable diffusion</option>
    </optgroup>

    {% if user_trained_models|length > 0 %}
      <optgroup label="Your trained models">
        {% for trained_model in user_trained_models %}
        <option value="{{trained_model}}">{{ trained_model.split("_")[0] }}</option>        
        {% endfor %}
    {% else %}
      <optgroup label="You have no trained models yet...">
    {% endif %}
    </optgroup>
  </select>

  <select id="compare-model-selector-2" class="form-select" aria-label="Select second model">
    <optgroup label="Default model">
      <option value="stable-diffusion-v1-5">stable diffusion</option>
    </optgroup>

    {% if user_trained_models|length > 0 %}
      <optgroup label="Your trained models">
        {% for trained_model in user_trained_models %}
        <option value="{{trained_model}}">{{ trained_model.split("_")[0] }}</option>        
        {% endfor %}
    {% else %}
      <optgroup label="You have no trained models yet...">
    {% endif %}
    </optgroup>
  </select>
  
</div>

<div align="center">
  <div id="loadingIndicator" class="lds-hourglass" style="display: none; margin-top: 50px; margin-bottom: 50px;"></div>
</div>

<div style="margin-top:80px">
    {% if user.images %}
      <h3>Your generated images...</h3>
    {% endif %}

  <div class="grid-container">

    {% for image in user.images|reverse %}
    <div>
        <img src="/static/generated_images/{{image.image_path}}" class="grid-item img modal-dialog modal-fullscreen-sm-down" alt="Prompt: {{image.prompt}} | Model: {{image.model}}" title="asdfasdf">
        <a class="btn btn-danger" role="button" href="/static/generated_images/{{image.image_path}}" download="proposed_file_name">Download</a>
    </div>
  
    {% endfor %}
  </div>
</div>


<div style="margin-top:80px">
  <h3>Other users created...</h3>
  <div class="grid-container">
    {% for image in random_images %}
  
    <div>
        <img src="{{image.image_path}}" class="grid-item img modal-dialog modal-fullscreen-sm-down" alt="Prompt: {{image.prompt}} | Model: {{ image.model }}">
        <a class="btn btn-danger" role="button" href="{{image.image_path}}" download="proposed_file_name">Download</a>
    </div>
  
    {% endfor %}
  </div>
</div>

<script>

  $(document).ready(function() {
    const compareCheckbox = document.querySelector("#compare");
    const createGifCheckbox = document.querySelector("#gifCheckboxDiv");
    const selectionMenu = document.querySelector("#selection-menu");
    
    //image hover
    $(".img").wrap('<div class="alt-wrap"/>');
    $(".img").each(function() {
      $(this).after('<p class="alt">' + $(this).attr('alt') + '</p>');
    })
    
    //create image
    $('#create-image').click(function() {
      if (compareCheckbox.checked) {
        loadingIndicator = document.getElementById("loadingIndicator")
        prompt = document.getElementById("prompt").value;
  
        //get selection
        var select1 = document.getElementById("compare-model-selector-1");
        var select2 = document.getElementById("compare-model-selector-2");
        var model1 = select1.options[select1.selectedIndex].value;
        var model2 = select2.options[select2.selectedIndex].value;
        
        if (prompt == "") {
          document.getElementById('prompt').placeholder = "Plese insert a prompt...";
        } else {
  
          loadingIndicator.style.display = "inline-block";
  
          fetch('/run_lora/' + prompt + '/' + model1 + "/0")
          .then(response => response.text())
          .then(data => {
  
            fetch('/run_lora/' + prompt + '/' + model2 + "/0")
            .then(response => response.text())
            .then(data => {
              loadingIndicator.style.display = "none";
              console.log(data);
    
              window.location.href = "/compare";
              //window.location.reload();
            });
            //window.location.reload();
        });
        }
      } else {
        loadingIndicator = document.getElementById("loadingIndicator")
        prompt = document.getElementById("prompt").value;

        //get selection
        var select = document.getElementById("model-selector");
        var selectedOption = select.options[select.selectedIndex].value;
        
        if (prompt == "") {
          document.getElementById('prompt').placeholder = "Plese insert a prompt...";
        } else {

          loadingIndicator.style.display = "inline-block";

          const createGifCheckbox = document.getElementById("createGif");
          const createGifSelected = createGifCheckbox.checked;

          run_lora_path = '/run_lora/' + prompt + '/' + selectedOption + "/0"

          if (createGifSelected) {
            run_lora_path = '/run_lora/' + prompt + '/' + selectedOption + "/1"
          }

          fetch(run_lora_path)
          .then(response => response.text())
          .then(data => {
            loadingIndicator.style.display = "none";
            console.log(data);

            if (createGifSelected) {
              window.location.href = "/generated_images";
            } else {
              window.location.href = "/generated_images_no_gif";
            }
            //window.location.reload();
        });
        }
      }
    });


    

  
    compareCheckbox.addEventListener("change", function() {
      if (compareCheckbox.checked) {
        selectionMenu.style.display = "block";
        createGifCheckbox.style.display = "none";
      } else {
        selectionMenu.style.display = "none";
        createGifCheckbox.style.display = "block";
      }
    });
  });


  
</script>




{% endblock %}

