{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<style>

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-view {
    background-color: #f7f7f7;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 300px;
  }
  
  button[type="submit"] {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: purple;
    color: white;
  }
  

</style>

<div class="container">
  <div class="login-view">
    <form method="POST">

      <h2 align="center">Text2Image</h2>
      <div class="form-group">

        <input
          type="email"
          class=""
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">

        <input
          type="password"
          class=""
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <div>
        <button id="login" type="submit" class="btn btn-primary">Login</button>
    
        <button name="register" id="register" value="register" type="submit" class="btn btn-primary">Register</button>
      </div>
    </form> 
  </div>
</div>


{% endblock %}
